@use 'sass:map';
@use '@/styles/abstracts/variables' as *;

.chevron {
  margin-top: auto;
  margin-bottom: 3rem;
  text-align: center;
  font-size: 3rem;
  color: var(--btn-hover);
  cursor: pointer;
  padding-bottom: 1rem;
}

.chevron:hover {
  color: $attention-color;
}

.chevron:active {
  transform: scale(0.9);
}