{% extends 'lab/index.html.j2' %}

{% block extra_css %}
{{ super() }}
<style>
/* Make wide pandas DataFrames horizontally scrollable */
.dataframe {
    display: block;
    overflow-x: auto;
    max-width: 100%;
    white-space: nowrap;
}
</style>
{% endblock extra_css %}
