{% extends 'lab/index.html.j2' %}

{% block body_header %}
<body class="jp-Notebook" data-jp-theme-light="{{ resources.theme != 'dark' | lower }}">
<main>
<div class="jupyter">
{% endblock body_header %}

{% block body_footer %}
</div>
</main>
</body>
{% endblock body_footer %}

{% block notebook_css %}
{{ super() }}

{# Add a wrapping class prefix to isolate styles #}
<style>
.jupyter {
    all: initial;
    font-family: inherit;
    line-height: 1.5;
    color: inherit;
}
.jupyter * {
    all: revert;
    box-sizing: border-box;
}

{{ resources.include_css("light.css") if resources.theme != "dark" else resources.include_css("dark.css") }}
</style>
{% endblock notebook_css %}
